:root {
  --gray-300: #DEE2E6;
  --gray-900: #212529;
  --success-100 :#EFF8F4;
  --success-200 :#9AD1BA;
  --success-300 :#36A375;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--gray-900);
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.container {
  max-width: 600px; /* 576 + 12 * 2 */
  margin: 0 auto;
  padding: 0 12px;
}

.week {
  margin: 0 auto;
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}
.week-title {
  padding: 8px 0;
  margin: 0;
  background: var(--success-200);
}
.week-title + .week-title {
  position: relative;
}
.week-title + .week-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  border-top: 1px solid var(--gray-300);
}
.week-title + .list {
  border-top: 1px solid var(--success-200);
}
.item-link {
  display: block;
  color: var(--gray-900);
  padding: 12px 0;
}
.item-link:hover {
  background: var(--success-100);
}
.item-link:focus {
  color: var(--success-300);
}


.border-top {
  border-top: 1px solid var(--gray-300);
}
.border-right {
  border-right: 1px solid var(--gray-300);
}
.border-bottom {
  border-bottom: 1px solid var(--gray-300);
}
.border-left {
  border-left: 1px solid var(--gray-300);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
}
.col-2 {
  width: 16.6666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333%;
}
.col-8 {
  width: 66.6666%;
}
.col-10 {
  width: 83.3333%;
}
