@import './_reset.css';

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #477a11;
$primary-400: #57a203;
$primary-300: #c0fa73;
$primary-200: #e8fec5;
$primary-100: #f5fee7;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body * {
  letter-spacing: 0.05em;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
h3,
h4,
h6 {
  line-height: 1.2;
  font-weight: 700;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h6 {
  font-size: 16px;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}

.text-align-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.row {
  margin: 0 -12px;
  display: flex;
}
.col-2 {
  width: 16.6666%;
  padding: 0 12px;
}
.col-10 {
  width: 83.3333%;
  padding: 0 12px;
}
.col-4 {
  width: 33.3333%;
  padding: 0 12px;
}
.mb-48 {
  margin-bottom: 48px;
}

.text-link {
  display: inline-block;
  color: $gray-900;
  padding: 12px 0;
  &:hover {
    color: $gray-600;
  }
  &:focus {
    color: $gray-900;
    border-bottom: 2px solid $gray-900;
    padding: 12px 0 10px 0;
  }
}

.container {
  max-width: 1320px; // 1296+24
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  padding: 16px 0;
  .logo {
    margin-right: 48px;
  }
  li {
    margin-right: 40px;
  }
  a.person {
    display: block;
    color: $gray-900;
    font-size: 24px;
    line-height: 1;
    padding: 8px;
    &:hover {
      color: $primary-400;
      cursor: pointer;
    }
    &:focus {
      color: $gray-900;
      background: $primary-100;
    }
  }
}
.breadcrumb {
  margin-top: 32px;
  .prev-page {
    color: $gray-600;
    margin-right: 12px;
  }
  .slash {
    color: $gray-300;
    margin-right: 12px;
  }
  .now-page {
    color: $gray-900;
  }
}
.title {
  padding: 7px 0;
  margin-top: 24px;
}
.product {
  margin-top: 24px;
}

.menu-title {
  color: $primary-400;
  padding: 8px 0;
}
.menu-list li a {
  display: inline-block;
  padding: 12px 0;
  margin-top: 12px;
  &:focus {
    padding: 12px 0 10px 0;
  }
}

.product-item {
  display: block;
  &:hover img {
    opacity: 0.8;
  }
}
.item-title {
  color: $gray-900;
  margin-top: 12px;
}
.item-price {
  color: $gray-900;
  margin-top: 4px;
}

.page-item {
  flex-basis: 40px;
  margin-right: 8px;
  &:first-child {
    margin-right: 12px;
  }
  &:last-child {
    margin-right: 0;
    margin-left: 4px;
  }
  .page-link {
    display: inline-block;
    text-align: center;
    color: $gray-900;
    width: 100%;
    padding: 8px 0;
    &.prev-link,
    &.next-link {
      font-size: 20px;
      padding: 5px 0;
    }
  }
  &.selected .page-link {
    background: $primary-300;
  }
  &:hover .page-link {
    background: $gray-100;
  }
  &.disabled .page-link {
    color: $gray-500;
    background: transparent;
    cursor: default;
  }
}

.banner {
  background: $primary-200;
  padding: 24px 0;
  margin-top: 80px;
  h4 {
    margin-right: 24px;
  }
  a {
    color: $white;
    background: $gray-900;
    border-radius: 4px;
    padding: 12px 24px;
    &:hover {
      background: $gray-700;
    }
    &:focus {
      background: $gray-700;
      box-shadow: 0 0 0 3px rgba($gray-900, 0.1);
    }
  }
}

.footer {
  background: $gray-100;
  padding: 64px 0;
  li {
    margin-left: 40px;
  }
  .copyright {
    padding-top: 32px;
    border-top: 1px solid $gray-300;
    margin-top: 24px;
    p {
      font-size: 14px;
      color: $gray-600;
      &:last-child {
        margin-top: 4px;
      }
    }
  }
}
