$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$danger-100: #FCF1F1;
$danger-200: #EBA7A7;
$danger-300: #D74F4F;
$dangers: (
  "100": $danger-100,
  "200": $danger-200,
  "300": $danger-300
);

$success-100: #EFF8F4;
$success-200: #9AD1BA;
$success-300: #36A375;
$successs: (
  "100": $success-100,
  "200": $success-200,
  "300": $success-300
);

$warning-100: #FEF6EC;
$warning-200: #F9C588;
$warning-300: #F38B12;
$warnings: (
  "100": $warning-100,
  "200": $warning-200,
  "300": $warning-300
);

$info-100: #EEF5FC;
$info-200: #97C3ED;
$info-300: #3087DB;
$infos: (
  "100": $info-100,
  "200": $info-200,
  "300": $info-300
);

$primary: #477a11;
$primary-100: #f5fee7;
$primary-200: #e8fec5;
$primary-300: #c0fa73;
$primary-400: #57a203;
$primarys: (
  "100": $primary-100,
  "200": $primary-200,
  "300": $primary-300,
  "400": $primary-400
);

$white: #fff;
$black: #000;


$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


$border-radius-sm: 4px;
$border-radius-md: 12px;
$border-radius-rounded: 50%;


$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-xs: 1;

$letter-spacing-base: 0.05em;


$gutters: (
  4: 4px,
);

$cols: col, col-2, col-3, col-4, col-5, col-6, col-7, col-10;