@use "sass:map";
@use '../abstracts/variables' as *;

@mixin button-variant(
  $text-color,
  $bg-color,
  $hover-bg: $bg-color,
  $focus-shadow-color: $bg-color,
  $padding: $padding,
  $is-outline: false,
) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-medium;
  border-radius: $border-radius-sm;
  padding: $padding;
  color: $text-color;
  background: if($is-outline, $white, $bg-color);
  border: 1px solid if($is-outline, $bg-color, transparent);

  &:hover {
    color: if($is-outline, $white, $text-color);
    background: $hover-bg;
  }

  &:focus {
    color: if($is-outline, $white, $text-color);
    background: $hover-bg;
    box-shadow: 0 0 0 3px rgba($focus-shadow-color, 0.1);
  }
}

@mixin icon-button-style($font-size, $color, $hover-color, $focus-bg-color, $padding) {
  display: inline-block;
  color: $color;
  font-size: $font-size;
  padding: $padding;

  &:hover {
    color: $hover-color;
  }

  &:focus {
    color: $color;
    background: $focus-bg-color;
  }
}

.btn {
  @include button-variant(
    $text-color: $white,
    $bg-color: map.get($grays, "900"),
    $hover-bg: map.get($grays, "700"),
    $focus-shadow-color: map.get($grays, "900"),
    $padding: 12px 24px
  );
}

.btn-outline {
  @include button-variant(
    $text-color: map.get($grays, "900"),
    $bg-color: map.get($grays, "900"),
    $hover-bg: map.get($grays, "900"),
    $focus-shadow-color: map.get($grays, "900"),
    $padding: 12px 24px,
    $is-outline: true
  );
}

.icon-btn {
  @include icon-button-style(
    $font-size: 24px,
    $color: map.get($grays, "900"),
    $hover-color: map.get($primarys, "400"),
    $focus-bg-color: map.get($primarys, "100"),
    $padding: 6px 12px
  );
}