@use "sass:map";
@use '../abstracts/variables' as *;

.card {
  display: block;
  &:hover &-img {
    opacity: 0.8;
  }
  &-title {
    color: map.get($grays, "900");
    margin-top: 12px;
  }
  &-price {
    color: map.get($grays, "900");
    font-weight: $font-weight-medium;
    margin-top: 4px;
  }
}