@use "sass:map";
@use '../abstracts/variables' as *;

.text-link {
  display: inline-block;
  color: map.get($grays, "900");
  font-weight: $font-weight-medium;
  padding-top: 12px;
  padding-bottom: 12px;
  &:hover {
    color: map.get($grays, "600");
  }
  &:focus {
    color: map.get($grays, "900");
    box-shadow: inset 0 -2px 0 map.get($grays, "900");
  }
}