@use 'sass:map';
@use '../abstracts/variables' as var;

.container {
  max-width: map.get(var.$container-max-widths, "xl");
  margin-left: auto;
  margin-right: auto;
  padding-left: var.$grid-gutter-width * 0.5;
  padding-right: var.$grid-gutter-width * 0.5;
}