@use '../abstracts/variables' as var;
@use '../abstracts/mixin' as mixin;

@mixin generate-cols($cols: 12) {
  .row > .col {
    padding-left: var.$grid-gutter-width * 0.5;
    padding-right: var.$grid-gutter-width * 0.5;
  }
  .col {
    flex: 1 0 0;
  }

  @for $i from 1 through $cols {
    .row > .col-#{$i} {
      padding-left: var.$grid-gutter-width * 0.5;
      padding-right: var.$grid-gutter-width * 0.5;
    }
    .col-#{$i} {
      flex: 0 0 auto;
      width: percentage($i / $cols);
    }
  }

  @each $name, $px in var.$gutters {
    .gx-#{$name}.row {
      margin-left: -$px;
      margin-right: -$px;
    }

    @for $i from 1 through $cols {
      .gx-#{$name} > .col-#{$i} {
        padding-left: $px;
        padding-right: $px;
      }
    }
  }
}

@mixin generate-cols-md($cols: 12) {
  @include mixin.max-width-mobile {
    .row > .col-md {
      padding-left: var.$grid-gutter-width * 0.5;
      padding-right: var.$grid-gutter-width * 0.5;
    }
    .col-md {
      flex: 1 0 0;
    }

    @for $i from 1 through $cols {
      .row > .col-md-#{$i} {
        padding-left: var.$grid-gutter-width * 0.5;
        padding-right: var.$grid-gutter-width * 0.5;
      }
      .col-md-#{$i} {
        flex: 0 0 auto;
        width: percentage($i / $cols);
      }
    }

    @each $name, $px in var.$gutters {
      .gx-md-#{$name}.row {
        margin-left: -$px;
        margin-right: -$px;
      }
      @for $i from 1 through $cols {
        .gx-md-#{$name} > .col-#{$i} {
          padding-left: $px;
          padding-right: $px;
        }
        .gx-md-#{$name} > .col-md-#{$i} {
          padding-left: $px;
          padding-right: $px;
        }
      }
    }
  }
}

.row {
  margin-right: var.$grid-gutter-width * -0.5;
  margin-left: var.$grid-gutter-width * -0.5;
  display: flex;
  flex-wrap: wrap;
}

@include generate-cols();
@include generate-cols-md();
