@use '../abstracts/mixin' as mixin;

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.flex-direction-md-column {
  @include mixin.max-width-mobile {
    flex-direction: column;
  }
}
.flex-md-nowrap {
  @include mixin.max-width-mobile {
    flex-wrap: nowrap;
  }
}

.align-items-md-stretch {
  @include mixin.max-width-mobile {
    align-items: stretch;
  }
}
.align-items-md-start {
  @include mixin.max-width-mobile {
    align-items: start;
  }
}