@use '../abstracts/mixin' as mixin;

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

@include mixin.max-width-mobile {
  .flex-direction-md-column {
    flex-direction: column;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap;
  }
  .align-items-md-stretch {
    align-items: stretch;
  }
  .align-items-md-start {
    align-items: start;
  }
  .flex-grow-md-0 {
    flex-grow: 0;
  }
}