@use '../abstracts/mixin' as mixin;

.p-8 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pl-8 {
  padding-left: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pl-12 {
  padding-left: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt-24 {
  padding-top: 24px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pt-32 {
  padding-top: 32px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.pb-48 {
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.pb-80 {
  padding-bottom: 80px;
}

.m0-a {
  margin: 0 auto;
}

.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.ml-8 {
  margin-left: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.ml-24 {
  margin-left: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mr-40 {
  margin-right: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mt-48 {
  margin-top: 48px;
}
.mr-48 {
  margin-right: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mt-64 {
  margin-top: 64px;
}
.mb-64 {
  margin-bottom: 64px;
}


.py-md-0 {
  @include mixin.max-width-mobile {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.py-md-8 {
  @include mixin.max-width-mobile {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.py-md-12 {
  @include mixin.max-width-mobile {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.px-md-16 {
  @include mixin.max-width-mobile {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.pl-md-16 {
  @include mixin.max-width-mobile {
    padding-left: 16px;
  }
}
.py-md-24 {
  @include mixin.max-width-mobile {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.py-md-32 {
  @include mixin.max-width-mobile {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.py-md-40 {
  @include mixin.max-width-mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.m-md-0 {
  @include mixin.max-width-mobile {
    margin: 0;
  }
}
.mt-md-4 {
  @include mixin.max-width-mobile {
    margin-top: 4px;
  }
}
.mt-md-8 {
  @include mixin.max-width-mobile {
    margin-top: 8px;
  }
}
.mb-md-12 {
  @include mixin.max-width-mobile {
    margin-bottom: 12px;
  }
}
.ml-md-12 {
  @include mixin.max-width-mobile {
    margin-left: 12px;
  }
}
.mr-md-16 {
  @include mixin.max-width-mobile {
    margin-right: 16px;
  }
}
.mt-md-24 {
  @include mixin.max-width-mobile {
    margin-top: 24px;
  }
}
.mb-md-24 {
  @include mixin.max-width-mobile {
    margin-bottom: 24px;
  }
}
.mt-md-32 {
  @include mixin.max-width-mobile {
    margin-top: 32px;
  }
}