<h2 class="h4 fw-medium ls-base">預約紀錄</h2>
<div class="row mt-6">
  <div class="d-none d-md-block col-md-4">
    <div class="text-center border rounded-4 py-6">
      <p class="h2 text-primary ls-0">3</p>
      <p class="color-natural-50 mt-2">已完成諮詢</p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="text-center border rounded-4 py-6">
      <p class="h2 text-primary ls-0">2025/10/10</p>
      <p class="color-natural-50 mt-2">即將到來</p>
    </div>
  </div>
  <div class="d-none d-md-block col-md-4">
    <div class="text-center border rounded-4 py-6">
      <p class="h2 text-primary ls-0">3/6</p>
      <p class="color-natural-50 mt-2">使用方案進度</p>
    </div>
  </div>
</div>
<div class="d-flex mt-9">
  <button type="button" class="btn custom-btn me-2">全部預約</button>
  <button type="button" class="btn custom-btn-outline me-2">已完成</button>
  <button type="button" class="btn custom-btn-outline">已取消</button>
  <div class="dropdown ms-auto">
    <button class="form-select form-select-bg-img-none text-start px-5 py-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="d-flex justify-content-between">
        <p class="me-1">排序</p>
        <span class="material-symbols-outlined fs-5">filter_list</span>
      </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end bg-white shadow-custom mt-2">
      <li><button class="dropdown-item" type="button">新到舊</button></li>
      <li><button class="dropdown-item" type="button">舊到新</button></li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <table class="custom-table table table-striped table-hover mt-6">
    <thead>
      <tr>
        <th scope="col">諮詢方案</th>
        <th scope="col">預約日期</th>
        <th scope="col">諮詢時長</th>
        <th scope="col">諮詢方式</th>
        <th scope="col">上課狀態</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>職涯定位-職涯探索包 | 6/6堂</td>
        <td>2025/11/11</td>
        <td>60分鐘</td>
        <td>
          <p class="badge border">視訊</p>
        </td>
        <td>等待上課</td>
      </tr>
      <tr>
        <td>職涯定位-職涯探索包 | 5/6堂</td>
        <td>2025/10/10</td>
        <td>60分鐘</td>
        <td>
          <p class="badge border">視訊</p>
        </td>
        <td>等待上課</td>
      </tr>
      <tr class="table-active">
        <td>職涯定位-職涯探索包 | 4/6堂</td>
        <td>2025/09/09</td>
        <td>60分鐘</td>
        <td>
          <p class="badge border">視訊</p>
        </td>
        <td>已完成</td>
      </tr>
      <tr class="table-active">
        <td>職涯定位-職涯探索包 | 3/6堂</td>
        <td>2025/08/08</td>
        <td>60分鐘</td>
        <td>
          <p class="badge border">面對面</p>
        </td>
        <td>已完成</td>
      </tr>
      <tr class="table-active">
        <td>職涯定位-職涯探索包 | 2/6堂</td>
        <td>2025/07/07</td>
        <td>60分鐘</td>
        <td>
          <p class="badge border">面對面</p>
        </td>
        <td>已完成</td>
      </tr>
      <tr class="table-active">
        <td>職涯定位-職涯探索包 | 1/6堂</td>
        <td>2025/06/06</td>
        <td>90分鐘</td>
        <td>
          <p class="badge border">面對面</p>
        </td>
        <td>已完成</td>
      </tr>
    </tbody>
  </table>
</div>