<form action="">
  <!-- 職旅計劃概況 -->
  <section class="d-flex flex-column flex-md-row border-bottom pb-9">
    <div class="d-flex justify-content-between mb-4 flex-md-column justify-content-md-start flex-basis-md-300">
      <h2 class="fs-4 fw-medium ls-base mb-md-3">職旅計劃概況</h2>
      <div class="d-flex align-items-center">
        <p class="color-natural-50 me-1">欄位皆為</p>
        <p class="badge text-light bg-error lh-xs ls-base">必填</p>
      </div>
    </div>
    <div class="col ms-md-6">
      <!-- 目前職業狀態 -->
      <div class="mb-4">
        <p class="mb-2">目前職業狀態</p>
        <div class="custom-form-check form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="occupation-options" id="full-time-employee" value="全職上班族">
          <label class="form-check-label" for="full-time-employee">全職上班族</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="occupation-options" id="part-time-worker" value="兼職工作者">
          <label class="form-check-label" for="part-time-worker">兼職工作者</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="occupation-options" id="freelancer" value="自由工作者/接案者">
          <label class="form-check-label" for="freelancer">自由工作者/接案者</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="occupation-options" id="digital-nomad" value="數位遊牧者">
          <label class="form-check-label" for="digital-nomad">數位遊牧者</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="occupation-options" id="entrepreneur" value="創業者/企業主">
          <label class="form-check-label" for="entrepreneur">創業者/企業主</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="occupation-options" id="unemployed" value="待業中">
          <label class="form-check-label" for="unemployed">待業中</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="occupation-options" id="occupation-other" value="其他">
          <label class="form-check-label" for="occupation-other">其他</label>
        </div>
      </div>
      <!-- 工作產業 -->
      <div class="dropdown mb-6">
        <button class="form-select text-start rounded-1 py-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          工作產業
        </button>
        <ul class="dropdown-menu w-100 shadow-custom mt-2">
          <li><button class="dropdown-item" type="button">科技</button></li>
          <li><button class="dropdown-item" type="button">媒體</button></li>
          <li><button class="dropdown-item" type="button">教育</button></li>
          <li><button class="dropdown-item" type="button">金融</button></li>
          <li><button class="dropdown-item" type="button">醫療健康</button></li>
          <li><button class="dropdown-item" type="button">零售製造</button></li>
          <li><button class="dropdown-item" type="button">服務業</button></li>
          <li><button class="dropdown-item" type="button">藝術創意</button></li>
          <li><button class="dropdown-item" type="button">非營利組織</button></li>
        </ul>
      </div>
      <!-- 工作年資 -->
      <div class="dropdown mb-6">
        <button class="form-select text-start rounded-1 py-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          工作年資
        </button>
        <ul class="dropdown-menu w-100 shadow-custom mt-2">
          <li><button class="dropdown-item" type="button">1 年以下</button></li>
          <li><button class="dropdown-item" type="button">1-3 年</button></li>
          <li><button class="dropdown-item" type="button">3-5 年</button></li>
          <li><button class="dropdown-item" type="button">5-10 年</button></li>
          <li><button class="dropdown-item" type="button">10 年以上</button></li>
        </ul>
      </div>
      <!-- 月收入區間 -->
      <div class="mb-4">
        <p class="mb-2">月收入區間</p>
        <div class="custom-form-check form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="income-options" id="under-30k" value="3 萬以下">
          <label class="form-check-label" for="under-30k">3 萬以下</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="income-options" id="30K-50K" value="3-5 萬">
          <label class="form-check-label" for="30K-50K">3-5 萬</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="income-options" id="50K-80K" value="5-8 萬">
          <label class="form-check-label" for="50K-80K">5-8 萬</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="income-options" id="80K-120K" value="8-12 萬">
          <label class="form-check-label" for="80K-120K">8-12 萬</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="income-options" id="120K-200K" value="12-20 萬">
          <label class="form-check-label" for="120K-200K">12-20 萬</label>
        </div>
        <div class="custom-form-check form-check form-check-inline">
          <input class="form-check-input" type="radio" name="income-options" id="above-200K" value="20 萬以上">
          <label class="form-check-label" for="above-200K">20 萬以上</label>
        </div>
      </div>
      <!-- 職業摘要 -->
      <div class="form-floating custom-form-floating">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）" id="career-summary"></textarea>
        <label for="career-summary">職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）</label>
      </div>
      <!-- 作品案例展示 -->
      <div class="form-floating custom-form-floating mt-6">
        <input type="email" class="form-control rounded-1" id="portfolio-showcase" placeholder="作品案例展示">
        <label for="portfolio-showcase" class="form-label">作品案例展示</label>
      </div>
      <!-- 附件檔案 -->
      <p class="mt-6">附件檔案</p>
      <label for="file-upload" class="btn custom-btn-outline custom-btn-icon-start d-inline-flex mt-2">
        <span class="material-symbols-outlined custom-btn-icon">upload</span>
        <p>上傳檔案</p>
      </label>
      <input type="file" name="file-upload" id="file-upload" class="d-none">
    </div>
  </section>
  <!-- 職涯規劃 -->
  <section class="d-flex flex-column flex-md-row border-bottom py-9">
    <div class="d-flex justify-content-between mb-4 flex-md-column justify-content-md-start flex-basis-md-300">
      <h2 class="fs-4 fw-medium ls-base mb-md-3">職涯規劃</h2>
      <div class="d-flex align-items-center">
        <p class="color-natural-50 me-1">欄位皆為</p>
        <p class="badge text-light bg-error lh-xs ls-base">必填</p>
      </div>
    </div>
    <div class="col ms-md-6">
      <!-- 1 年短期職涯目標 -->
      <div class="form-floating custom-form-floating mb-3">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="1 年短期職涯目標（最多 300 字）" id="short-term-career-goals"></textarea>
        <label for="short-term-career-goals">1 年短期職涯目標（最多 300 字）</label>
      </div>
      <!-- 1-3 年中長期職涯願景 -->
      <div class="form-floating custom-form-floating mb-3 mt-6">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="1-3 年中長期職涯願景（最多 300 字）" id="mid-long-term-career-vision"></textarea>
        <label for="mid-long-term-career-vision">1-3 年中長期職涯願景（最多 300 字）</label>
      </div>
      <!-- 理想工作模式 -->
      <p class="mb-2 mt-6">理想工作模式</p>
      <div class="custom-form-check form-check form-check-inline">
        <input checked class="form-check-input" type="radio" name="work-mode-options" id="on-site" value="固定辦公室工作">
        <label class="form-check-label" for="on-site">固定辦公室工作</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="radio" name="work-mode-options" id="hybrid" value="混合式工作(辦公室+遠端)">
        <label class="form-check-label" for="hybrid">混合式工作(辦公室+遠端)</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="radio" name="work-mode-options" id="fully-remote" value="完全遠端工作(固定地點)">
        <label class="form-check-label" for="fully-remote">完全遠端工作(固定地點)</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="radio" name="work-mode-options" id="digital-nomad-mode" value="數位遊牧(邊工作邊旅行)">
        <label class="form-check-label" for="digital-nomad-mode">數位遊牧(邊工作邊旅行)</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="radio" name="work-mode-options" id="work-mode-other" value="其他(請說明)">
        <label class="form-check-label" for="work-mode-other">其他(請說明)</label>
      </div>
      <div class="form-floating custom-form-floating mb-3 mt-6">
        <input type="email" class="form-control rounded-1" id="target-salary-income" placeholder="目標薪資/收入">
        <label for="target-salary-income" class="form-label">目標薪資/收入</label>
      </div>
      <!-- 目前面臨的職涯挑戰 -->
      <p class="mb-2 mt-6">目前面臨的職涯挑戰</p>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="unclear-direction" value="方向不明確">
        <label class="form-check-label" for="unclear-direction">方向不明確</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="skill-improvement" value="技能需要提升">
        <label class="form-check-label" for="skill-improvement">技能需要提升</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="unstable-income" value="收入不穩定">
        <label class="form-check-label" for="unstable-income">收入不穩定</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="client-acquisition" value="客戶開發困難">
        <label class="form-check-label" for="client-acquisition">客戶開發困難</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="time-management" value="時間管理問題">
        <label class="form-check-label" for="time-management">時間管理問題</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="work-life-imbalance" value="工作生活失衡">
        <label class="form-check-label" for="work-life-imbalance">工作生活失衡</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="lack-of-network" value="缺乏人脈資源">
        <label class="form-check-label" for="lack-of-network">缺乏人脈資源</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="career-challenges-other" value="其他(請說明)">
        <label class="form-check-label" for="career-challenges-other">其他(請說明)</label>
      </div>
      <!-- 期望獲得的協助與資源 -->
      <p class="mb-2 mt-6">期望獲得的協助與資源</p>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="career-direction-guidance" value="職涯方向指導">
        <label class="form-check-label" for="career-direction-guidance">職涯方向指導</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="skill-improvement-suggestions" value="專業技能提升建議">
        <label class="form-check-label" for="skill-improvement-suggestions">專業技能提升建議</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="personal-branding" value="個人品牌建立">
        <label class="form-check-label" for="personal-branding">個人品牌建立</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="freelance-strategy-pricing" value="接案策略與定價">
        <label class="form-check-label" for="freelance-strategy-pricing">接案策略與定價</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="client-acquisition-methods" value="客戶開發方法">
        <label class="form-check-label" for="client-acquisition-methods">客戶開發方法</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="financial-planning" value="財務規劃">
        <label class="form-check-label" for="financial-planning">財務規劃</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="time-management-system" value="時間管理系統">
        <label class="form-check-label" for="time-management-system">時間管理系統</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="work-life-balance" value="工作生活平衡">
        <label class="form-check-label" for="work-life-balance">工作生活平衡</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="desired-support-other" value="其他(請說明)">
        <label class="form-check-label" for="desired-support-other">其他(請說明)</label>
      </div>
      <!-- 感興趣的服務方案 -->
      <p class="mb-2 mt-6">感興趣的服務方案</p>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="exploration-focus" value="探索定位">
        <label class="form-check-label" for="exploration-focus">探索定位</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="customized-plan" value="客製化方案">
        <label class="form-check-label" for="customized-plan">客製化方案</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="practical-coaching" value="實戰指導">
        <label class="form-check-label" for="practical-coaching">實戰指導</label>
      </div>
    </div>
  </section>
  <!-- 專業技能區塊 -->
  <section class="d-flex flex-column flex-md-row border-bottom py-9">
    <div class="d-flex justify-content-between mb-4 flex-md-column justify-content-md-start flex-basis-md-300">
      <h2 class="fs-4 fw-medium ls-base mb-md-3">專業技能區塊</h2>
      <p class="color-natural-50">欄位皆為選填</p>
    </div>
    <div class="col ms-md-6">
      <!-- 核心專業領域 -->
      <p class="mb-2">核心專業領域</p>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="design-creativity" value="設計/創意">
        <label class="form-check-label" for="design-creativity">設計/創意</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="tech-development" value="科技/程式開發">
        <label class="form-check-label" for="tech-development">科技/程式開發</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="marketing-pr" value="行銷/公關">
        <label class="form-check-label" for="marketing-pr">行銷/公關</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="content-writing" value="內容創作/寫作">
        <label class="form-check-label" for="content-writing">內容創作/寫作</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="consulting" value="顧問/諮詢">
        <label class="form-check-label" for="consulting">顧問/諮詢</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="business-management" value="商業/管理">
        <label class="form-check-label" for="business-management">商業/管理</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="finance-accounting" value="財務/會計">
        <label class="form-check-label" for="finance-accounting">財務/會計</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="education-training" value="教育/培訓">
        <label class="form-check-label" for="education-training">教育/培訓</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="legal-compliance" value="法律/合規">
        <label class="form-check-label" for="legal-compliance">法律/合規</label>
      </div>
      <div class="custom-form-check form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="healthcare-medical" value="健康/醫療">
        <label class="form-check-label" for="healthcare-medical">健康/醫療</label>
      </div>
      <!-- 專業背景和核心競爭力 -->
      <div class="form-floating custom-form-floating mb-3 mt-6">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="專業背景和核心競爭力（最多300字）" id="professional-background-core-competencies"></textarea>
        <label for="professional-background-core-competencies">專業背景和核心競爭力（最多300字）</label>
      </div>
      <!-- 專業技能 -->
      <div class="form-floating custom-form-floating mb-3 mt-6">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="專業技能（最多300字）" id="professional-skills"></textarea>
        <label for="professional-skills">專業技能（最多300字）</label>
      </div>
      <!-- 語文能力 -->
      <div class="form-floating custom-form-floating mb-3 mt-6">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="語文能力（最多 300 字）" id="language-proficiency"></textarea>
        <label for="language-proficiency">語文能力（最多 300 字）</label>
      </div>
      <!-- 資格證照 -->
      <div class="form-floating custom-form-floating mb-3 mt-6">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="300" placeholder="資格證照（最多 300 字）" id="certifications"></textarea>
        <label for="certifications">資格證照（最多 300 字）</label>
      </div>
    </div>
  </section>
  <!-- 教育背景 -->
  <section class="d-flex flex-column flex-md-row py-9">
    <div class="d-flex justify-content-between mb-4 flex-md-column justify-content-md-start flex-basis-md-300">
      <h2 class="fs-4 fw-medium ls-base mb-md-3">教育背景</h2>
      <p class="color-natural-50">欄位皆為選填</p>
    </div>
    <div class="col ms-md-6">
      <!-- 學歷背景 -->
      <div class="form-floating custom-form-floating mb-6">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="500" placeholder="學歷背景（最多500字）" id="education-background"></textarea>
        <label for="education-background">學歷背景（最多500字）</label>
      </div>
      <!-- 專業培訓與工作坊 -->
      <div class="form-floating custom-form-floating">
        <textarea class="form-control textarea-resize-none rounded-1 form-contro-height-160" maxlength="500" placeholder="專業培訓與工作坊（最多500字）" id="professional-training-workshops"></textarea>
        <label for="professional-training-workshops">專業培訓與工作坊（最多500字）</label>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-center">
    <!-- 按鈕：匯出 PDF -->
    <button class="btn custom-btn-outline custom-btn-icon-end me-4" type="button">
      <p>匯出 PDF</p>
      <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
    </button>
    <!-- 按鈕：儲存更新 -->
    <button class="btn custom-btn custom-btn-icon-end" type="button">
      <p>儲存更新</p>
      <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
    </button>
  </div>
</form>