<footer class="border-top py-6 py-xl-9">
  <div class="container">
    <div class="d-flex flex-column align-items-center flex-xl-row justify-content-xl-between">
      <nav>
        <ul class="nav justify-content-center">
          <li class="custom-nav-item"><a class="nav-link mb-2" href="#">服務方案</a></li>
          <li class="custom-nav-item"><a class="nav-link mb-2" href="#">關於職旅</a></li>
          <li class="custom-nav-item"><a class="nav-link mb-2" href="#">聯絡我們</a></li>
          <li class="custom-nav-item"><a class="nav-link mb-2" href="#">隱私權政策</a></li>
          <li class="custom-nav-item"><a class="nav-link mb-2" href="#">用戶條款</a></li>
        </ul>
      </nav>
      <p class="fs-sm color-natural-50 ls-base mb-0">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
  </div>
</footer>