<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>服務方案</title>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="./scss/layouts/_loader.scss">
  <script type="module" src="./js/service-plan.js"></script>
</head>
<body class="loading">
  <%- include('./week6/partials/loader.ejs') %>
  <%- include('./week6/partials/header.ejs') %>
  <main>
    <section class="service-heading-section">
      <div class="container">
        <div class="service-heading-content py-9 py-lg-12">
          <h2 class="fs-lg-1 ls-base mb-6 mb-lg-9">服務方案</h2>
          <p class="color-natural-50 fs-lg-lg text-center">我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑<span class="d-none d-lg-block"></span>戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。</p>
        </div>
      </div>
    </section>
    <section class="bg-white py-9 py-lg-12">
      <div class="container">
        <div class="text-center">
          <img src="./images/goal.svg" alt="">
          <h3 class="fs-md-2 ls-base mt-1">職涯轉型全程計畫</h3>
          <p class="color-natural-50 fs-md-lg mt-4 mt-md-6">從企業到自由，無縫轉型之旅</p>
        </div>
        <div class="card plan-card hot-plan mt-6 mt-md-9">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <p class="plan-card-type">全面方案</p>
                <h4 class="card-title">職涯轉型全程計畫</h4>
                <div class="card-text">
                  <p>針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。</p>
                  <ul>
                    <li><span class="material-symbols-outlined">stat_0</span><span>深度職能轉換評估與規劃</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>跨領域技能遷移策略</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>新領域人脈建立指導</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>長期職涯發展藍圖</span></li>
                  </ul>
                  <div class="card-text-target">
                    <div class="card-text-target-item">
                      <p>適合對象：</p>
                      <p class="card-text-target-audience">從企業職場轉型為自由工作者 / 數位遊牧者的專業人士</p>
                    </div>
                    <div class="card-text-target-item">
                      <p>優惠價格：</p>
                      <p class="card-text-target-price">NT$ 120,000</p>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn custom-btn custom-btn-icon-end custom-btn-hover">
                  <p>我有興趣</p>
                  <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
                </button>
              </div>
            </div>
            <div class="col-md-auto">
              <img class="plan-card-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/plan-1.svg" alt="">
            </div>
          </div>
        </div>
        <div class="card plan-card mt-6 mt-md-9">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <p class="plan-card-type">加速方案</p>
                <h4 class="card-title">自由工作加速計畫</h4>
                <div class="card-text">
                  <p>為已確定要轉型但需要全面規劃的專業人士設計。六次深度諮詢，從心態調整到實際操作，全方位為您的轉型做好準備。</p>
                  <ul>
                    <li><span class="material-symbols-outlined">stat_0</span><span>詳細的市場機會分析</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>個人優勢定位與差異化策略</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>完整的轉型時間表與里程碑</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>轉型期間的心理健康維護策略</span></li>
                  </ul>
                  <div class="card-text-target">
                    <div class="card-text-target-item">
                      <p>適合對象：</p>
                      <p class="card-text-target-audience">已經開始自由工作但想提升效能和收入的專業人士</p>
                    </div>
                    <div class="card-text-target-item">
                      <p>優惠價格：</p>
                      <p class="card-text-target-price">NT$ 80,000</p>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn custom-btn custom-btn-icon-end custom-btn-hover">
                  <p>我有興趣</p>
                  <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
                </button>
              </div>
            </div>
            <div class="col-md-auto">
              <img class="plan-card-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/plan-2.svg" alt="">
            </div>
          </div>
        </div>
        <div class="card plan-card mt-6 mt-md-9">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <p class="plan-card-type">遊牧方案</p>
                <h4 class="card-title">數位遊牧生活計畫</h4>
                <div class="card-text">
                  <p>針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。</p>
                  <ul>
                    <li><span class="material-symbols-outlined">stat_0</span><span>深度職能轉換評估與規劃</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>新領域人脈建立指導</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>跨領域技能遷移策略</span></li>
                    <li><span class="material-symbols-outlined">stat_0</span><span>長期職涯發展藍圖</span></li>
                  </ul>
                  <div class="card-text-target">
                    <div class="card-text-target-item">
                      <p>適合對象：</p>
                      <p class="card-text-target-audience">希望同時擁有工作自由和地域自由的專業人士</p>
                    </div>
                    <div class="card-text-target-item">
                      <p>優惠價格：</p>
                      <p class="card-text-target-price">NT$ 60,000</p>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn custom-btn custom-btn-icon-end custom-btn-hover">
                  <p>我有興趣</p>
                  <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
                </button>
              </div>
            </div>
            <div class="col-md-auto">
              <img class="plan-card-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/plan-3.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-9 py-lg-12">
      <div class="container text-center">
        <img src="./images/conversation.svg" alt="">
        <h3 class="h3 fs-md-2 mt-1">基礎諮詢服務</h3>
        <p class="fd-md-lg ls-md-base color-natural-50 mt-4 mt-md-6">我們提供第一次免費諮詢，一起建立信任的橋樑</p>
        <div class="row mt-6 mt-md-9">
          <div class="col-md-4">
            <div class="card serve-card consulting-service">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/server-1.svg" class="card-img-top" alt="">
              <div class="card-body">
                <h4 class="card-title">職涯探索評估</h4>
                <p class="card-text">3 次一對一諮詢，了解可能性和適配性</p>
                <p class="service-price">NT$ 3,800</p>
              </div>
              <button type="button" class="btn custom-btn custom-btn-icon-end align-self-center custom-btn-hover">
                <p>我有興趣</p>
                <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
              </button>
            </div>
          </div>
          <div class="col-md-4 mt-4 mt-md-0">
            <div class="card serve-card consulting-service hot-service">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/server-2.svg" class="card-img-top" alt="">
              <div class="card-body">
                <h4 class="card-title">職涯轉型規劃</h4>
                <p class="card-text">6 次深度諮詢，建立完整轉型藍圖</p>
                <p class="service-price">NT$ 12,000</p>
              </div>
              <button type="button" class="btn custom-btn custom-btn-icon-end align-self-center custom-btn-hover">
                <p>我有興趣</p>
                <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
              </button>
              <div class="serve-card-badge">HOT</div>
            </div>
          </div>
          <div class="col-md-4 mt-4 mt-md-0">
            <div class="card serve-card consulting-service">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/server-3.svg" class="card-img-top" alt="">
              <div class="card-body">
                <h4 class="card-title">專業定位與品牌建立</h4>
                <p class="card-text">4 次專業諮詢，確立市場定位與差異化策略</p>
                <p class="service-price">NT$ 8,800</p>
              </div>
              <button type="button" class="btn custom-btn custom-btn-icon-end align-self-center custom-btn-hover">
                <p>我有興趣</p>
                <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="support-section py-9 py-lg-12">
      <div class="container text-center">
        <img src="./images/love.svg" alt="">
        <h3 class="h3 fs-md-2 fs-md-2 ls-base mt-1">持續支持方案</h3>
        <div class="row mt-6 mt-md-9">
          <div class="col-md-8 mx-auto">
            <div class="support-content rounded-4 border border-2 border-secondary bg-secondary-90 d-flex flex-column align-items-center shadow-custom p-6 p-md-9">
              <h4 class="h5 fs-md-4 fw-medium ls-base">職旅會員計畫</h4>
              <p class="fs-sm fs-md-6 mt-2">享有長期社群支持與資源服務</p>
              <div class="mt-9">
                <span class="h5 fs-md-4 ls-base text-primary">NT$ 9,800</span>
                <span class="fs-sm fs-md-6 ls-base">/年</span>
                <span class="fs-sm fs-md-6 ls-base fw-medium">( NT$1,200 /月)</span>
              </div>
              <button type="button" class="btn custom-btn custom-btn-icon-end mt-9 custom-btn-hover">
                <p>我有興趣</p>
                <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
              </button>
              <img class="support-content-img-start" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/subscribe-1.svg" alt="">
              <img class="support-content-img-end" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/service/subscribe-2.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white py-8">
      <div class="container">
        <%- include('./week6/partials/cta-card.ejs') %>
      </div>
    </section>
  </main>
  <%- include('./week6/partials/footer.ejs') %>
</body>
</html>