@use '../abstracts/variables' as *;

.breadcrumb {
  .prev-page {
    color: $gray-600;
    font-weight: 500;
    margin-right: 12px;
  }
  .slash {
    color: $gray-300;
    font-weight: 700;
    margin-right: 12px;
  }
  .now-page {
    color: $gray-900;
    font-weight: 500;
  }
}