@use '../abstracts/variables' as *;

.text-link {
  display: inline-block;
  color: $gray-900;
  padding: 12px 0;
  &:hover {
    color: $gray-600;
  }
  &:focus {
    color: $gray-900;
    border-bottom: 2px solid $gray-900;
    padding-top: 12px;
    padding-bottom: 10px;
  }
}