<footer class="text-align-center bg-primary-gray-100 py-64">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/logo.svg" alt="URBNSTEP logo">
      <nav aria-label="頁尾選單">
        <ul class="d-flex">
          <li class="ml-40"><a href="./product-list.html" class="text-link">商品列表</a></li>
          <li class="ml-40"><a href="../week1/story.html" class="text-link">品牌故事</a></li>
        </ul>
      </nav>
    </div>
    <div class="pt-32 mt-24 border-top-primary border-color-gray-300">
      <p class="f-14 text-secondary">Copyright ©2025 URBNSTYLE</p>
      <p class="f-14 text-secondary mt-4">All Rights Reserved.</p>
    </div>
  </div>
</footer>