<header class="header py-16">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <img class="mr-48" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/logo.svg" alt="URBNSTEP logo">
      <nav aria-label="主選單">
        <ul class="d-flex">
          <li class="mr-40"><a class="link text-link fw-medium" href="./product-list.html">商品列表</a></li>
          <li><a class="link text-link fw-medium" href="../week1/story.html">品牌故事</a></li>
        </ul>
      </nav>
    </div>
    <a href="#" class="person p-8"><i class="bi bi-person"></i></a>
  </div>
</header>