@use "sass:map";

.adv-card {
  overflow: hidden;
  border: 0;
  cursor: pointer;
  position: relative;
  .adv-card-badge {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    color: $natural-50;
    background-color: $white;
    padding-top: map.get($spacers, 3);
    padding-bottom: map.get($spacers, 3);
    padding-right: map.get($spacers, 6);
    padding-left: map.get($spacers, 3);
    border-top-right-radius: $border-radius;
    z-index: 1;
    .material-symbols-outlined {
      color: $primary;
      font-size: map.get($font-sizes, 4);
      margin-right: map.get($spacers, 2);
    }
  }
  .adv-card-hover-text {
    color: $white;
    background-color: rgba($black, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: map.get($spacers, 6);
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover .adv-card-hover-text {
    opacity: 1;
  }
}
