@use '../abstracts/variables' as *;

.banner {
  background: $primary-200;
  padding-top: 24px;
  padding-bottom: 24px;
  h4 {
    margin-right: 24px;
  }
  a {
    color: $white;
    background: $gray-900;
    border-radius: 4px;
    padding: 12px 24px;
    &:hover {
      background: $gray-700;
    }
    &:focus {
      background: $gray-700;
      box-shadow: 0 0 0 3px rgba($gray-900, 0.1);
    }
  }
}