@use '../abstracts/variables' as *;

%py-12{
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  @extend %py-12;
}
.col-2 {
  width: 16.6666%;
  @extend %py-12;
}
.col-4 {
  width: 33.3333%;
  @extend %py-12;
}
.col-5 {
  width: 41.6666%;
  @extend %py-12;
}
.col-6 {
  width: 50%;
  @extend %py-12;
}
.col-7 {
  width: 58.3333%;
  @extend %py-12;
}
.col-10 {
  width: 83.3333%;
  @extend %py-12;
}

@each $name, $px in $gutters {
  .gx-#{$name}.row {
    margin-left: -$px;
    margin-right: -$px;
  }

  @each $col in $cols {
    .gx-#{$name} > .#{$col} {
      padding-left: $px;
      padding-right: $px;
    }
  }
}