@use '../abstracts/variables' as *;

.header {
  padding: 16px 0;
  .logo {
    margin-right: 48px;
  }
  li {
    margin-right: 40px;
  }
  a.person {
    display: block;
    color: $gray-900;
    font-size: 24px;
    line-height: 1;
    padding: 8px;
    &:hover {
      color: $primary-400;
      cursor: pointer;
    }
    &:focus {
      color: $gray-900;
      background: $primary-100;
    }
  }
}