@use 'sass:map';
@use './variables' as var;

@mixin font-size($size, $line-height: null, $font-weight: null) {
  font-size: $size;

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $font-weight != null {
    font-weight: $font-weight;
  }

  // 只有當 size 不是 $base-font-size 才加 letter-spacing
  @if $size != var.$font-size-base {
    letter-spacing: var.$letter-spacing-base;
  }
}


@mixin max-width-mobile() {
  @media (max-width: map.get(var.$container-max-widths, "md")) {
    @content;
  }
}