.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .nav-link:hover {
    color: $primary-40;
  }
}
.footer-logo {
  width: 192px;
  height: 32px;
  @include media-breakpoint-up(lg) {
    width: 270px;
    height: 45px;
  }
}
.footer__social {
  .nav-link {
    display: block;
    width: 40px;
    height: 40px;
    transition: border-color 0.3s;
    img {
      transition: transform 0.3s;
    }
  }
  .footer__icon-link:hover {
    border-color: $primary-40 !important;
    img {
      transform: translate(-50%, -50%) scale(1.3) !important;
    }
  }
}

.footer-copyright  {
  color: #d4d4d4;
}