@use 'sass:map';
@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: map.get($grays, "900");
  line-height: $line-height-base;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}