@use "sass:map";
@use '../abstracts/variables' as *;

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: $line-height-sm;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-base;
}
.h2 {
  font-size: 32px;
}
.h3 {
  font-size: 28px;
}
.h4 {
  font-size: 24px;
}
.h5 {
  font-size: 20px;
}

.f-14 {
  font-size: 14px;
}
.f-20 {
  font-size: 20px;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.letter-spacing-base {
  letter-spacing: $letter-spacing-base;
}

.text-secondary {
  color: map.get($grays, "600");
}
.text-muted {
  color: map.get($grays, "500");
}
.text-highlight {
  color: map.get($primarys, "400");
}
.text-danger-300 {
  color: map.get($dangers, "300");
}
// @each $key, $value in $grays {
//   .text-gray-#{$key} {
//     color: #{$value};
//   }
// }

.text-line-through {
  text-decoration: line-through;;
}

.text-align-center {
  text-align: center;
}

.bg-primary-200 {
  background-color: map.get($primarys, "200");
}
.bg-primary-gray-100 {
  background: $gray-100;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.border-primary {
  border: 1px solid map.get($grays, "900");
}
.border-top-primary {
  border-top: 1px solid map.get($grays, "900");
}
.border-bottom-primary {
  border-bottom: 1px solid map.get($grays, "900");
}
.border-color-gray-300 {
  border-color: map.get($grays, "300");
}

.bg-logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/logo.svg");
	width: 129px;
	height: 46px;
  display:block;
}

.hide-text {
  text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}