img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
input {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}