<div class="d-flex justify-content-center align-items-center bg-primary-200 py-24">
  <p class="h4 h5-md mr-24 mr-md-16">加入會員取得 9 折優惠</p>
  <a href="#" class="btn-fill py-md-12 px-md-16">馬上註冊</a>
</div>