<footer class="text-align-center bg-primary-gray-100 py-64 py-md-32">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center flex-direction-md-column align-items-md-start">
      <a href="./index.html" alt="" class="bg-logo hide-text mr-48">URBNSTEP</a>
      <nav aria-label="頁尾選單">
        <ul class="d-flex flex-direction-md-column align-items-md-start mt-md-8 ml-md-12">
          <li class="ml-40 m-md-0"><a href="./product-list.html" class="text-link d-md-block">商品列表</a></li>
          <li class="ml-40 m-md-0 mt-md-4"><a href="./story.html" class="text-link d-md-block">品牌故事</a></li>
        </ul>
      </nav>
    </div>
    <div class="pt-32 mt-24 border-top-primary border-color-gray-300">
      <p class="small text-secondary">Copyright ©2025 URBNSTYLE</p>
      <p class="small text-secondary mt-4">All Rights Reserved.</p>
    </div>
  </div>
</footer>