<footer class="footer bg-black text-white">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
      <div>      
        <a class="navbar-brand" href="#">
          <img class="footer-logo" src="<%= images.week8['logo.svg'] %>" alt="">
        </a>
        <ul class="navbar-nav gap-4 align-items-start flex-lg-row mt-9 mt-lg-8">
          <li class="nav-item">
            <a class="nav-link p-0" href="#">常見問題</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" href="#">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" href="#">隱私權政策</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" href="#">使用者條款</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="footer__social navbar-nav flex-row gap-4 justify-content-lg-end mt-9 mt-lg-0">
          <li class="nav-item">
            <a class="footer__icon-link nav-link position-relative border border-white rounded-circle" href="#" style="color: white;">
              <img src="<%= images.week8['line.svg'] %>" class="position-absolute top-50 start-50 translate-middle" alt="line-img">
            </a>
          </li>
          <li class="nav-item">
            <a class="footer__icon-link nav-link position-relative border border-white rounded-circle" href="#">
              <img src="<%= images.week8['youtube.svg'] %>" class="position-absolute top-50 start-50 translate-middle" alt="youtube-img">
            </a>
          </li>
          <li class="nav-item">
            <a class="footer__icon-link nav-link position-relative border border-white rounded-circle" href="#">
              <img src="<%= images.week8['facebook.svg'] %>" class="position-absolute top-50 start-50 translate-middle" alt="facebook-img">
            </a>
          </li>
        </ul>
        <p class="footer-copyright fs-sm ls-base mt-4">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
      </div>
      </div>
  </div>
</footer>