@use '../abstracts/variables' as *;

.title {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 24px;
}

.menu-title {
  color: $primary-400;
  padding-top: 8px;
  padding-bottom: 8px;
}
.menu-list li a {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 12px;
  &:focus {
    padding-top: 12px;
    padding-bottom: 10px;
  }
}

.page-item {
  flex-basis: 40px;
  margin-right: 8px;
  &:first-child {
    margin-right: 12px;
  }
  &:last-child {
    margin-right: 0;
    margin-left: 4px;
  }
  .page-link {
    display: inline-block;
    text-align: center;
    color: $gray-900;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    &.prev-link,
    &.next-link {
      font-size: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &.selected .page-link {
    background: $primary-300;
  }
  &:hover .page-link {
    background: $gray-100;
  }
  &.disabled .page-link {
    color: $gray-500;
    background: transparent;
    cursor: default;
  }
}
