@use "sass:map";
@use '../abstracts/variables' as *;

.color-selector {
  display: flex;
  text-align: center;
  input[type="radio"] {
    display: none;
  }
  .color-option {
    width: 64px;
    color: map.get($grays, "600");
    cursor: pointer;
    &:hover img {
      opacity: 0.8;
    }
  }
  input[type="radio"]:checked + .color-option {
    color: map.get($grays, "900");
    img {
      opacity: 1;
      border: 1px solid map.get($grays, "900");
    }
  }
  input[type="radio"]:disabled + .color-option {
    cursor: default;
    color: map.get($grays, "300");
    img {
      opacity: 0.4;
    }
  }
}

.size-selector {
  display: flex;
  flex-wrap: wrap;
  input[type="radio"] {
    display: none;
  }
  .size-option {
    width: 160px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid map.get($grays, "300");
    border-radius: $border-radius-sm;
    font-weight: $font-weight-medium;
    cursor: pointer;
    &:hover {
      border-color: map.get($grays, "600");
    }
  }
  input[type="radio"]:checked + .size-option {
    border-color: map.get($grays, "900");
  }
  input[type="radio"]:disabled + .size-option {
    cursor: default;
    color: map.get($grays, "500");
    border-color: map.get($grays, "300");
  }
}

.btn-like {
  & .liked {
    display: none;
  }
  &:hover {
    & .liked {
      display: none;
    }
    & .non-like {
      display: block;
    }
  }
  &.active {
    & .liked {
      display: block;
    }
    & .non-like {
      display: none;
    }
  }
}