@use 'sass:map';
@use '../abstracts/variables' as var;
@use '../abstracts/mixin' as mixin;

.auth-info {
  background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/login-bg.png")
    no-repeat center / cover;
  border-radius: var.$border-radius-sm;
  height: 100%;
  @include mixin.max-width-mobile {
    background: var.$white;
  }
}

.auth-btn {
  display: block;
  color: map.get(var.$grays, "600");
  text-align: center;
  border-bottom: 2px solid map.get(var.$grays, "300");
  padding-top: 12px;
  padding-bottom: 12px;
  &:hover {
    color: map.get(var.$grays, "900");
  }
  &:focus, &.active {
    cursor: default;
    color: map.get(var.$grays, "900");
    border-color: map.get(var.$grays, "900");
  }
}

.auth-way {
  &:hover {
    color: map.get(var.$grays, "600");
    border-color: map.get(var.$grays, "500");
  }
}