@use "sass:map";
@use '../abstracts/variables' as var;

.btn-like {
  & .liked {
    display: none;
  }
  &.active {
    & .liked {
      display: block;
    }
    & .non-like {
      display: none;
    }
  }
}

.heart-wrapper {
  color: map.get(var.$grays, "900");
  padding: 6px 12px;
  & .liked {
    display: none;
  }
  &:hover, &.active {
    & .liked {
      display: block;
    }
    & .non-like {
      display: none;
    }
  }
}