@use "sass:map";
@use '../abstracts/variables' as var;

.btn-like {
  & .liked {
    display: none;
  }
  &.active {
    & .liked {
      display: block;
    }
    & .non-like {
      display: none;
    }
  }
}