.banner {
  background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner.png") no-repeat center / cover;
  padding-left: 10%;
  padding-top: 288px;
  padding-bottom: 288px;
}

.sale {
  background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-co-branded.png") no-repeat center / cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.outfit-inspiration {
  img {
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}