@use '../abstracts/variables' as *;

.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-20 {
  font-size: 20px;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}

.text-primary {
  color: $gray-900;
}
.text-secondary {
  color: $gray-600;
}
.text-muted {
  color: $gray-500;
}
.text-highlight {
  color: $primary-400;
}
.text-on-dark {
  color: $white;
}
.text-danger-300 {
  color: $danger-300;
}

.text-line-through {
  text-decoration: line-through;;
}

.text-align-center {
  text-align: center;
}

.bg-primary {
  background-color: $gray-900;
}
.bg-primary-200 {
  background-color: $primary-200
}

.w-64 {
  width: 64px;
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}

.border-primary {
  border: 1px solid $gray-900;
}
.border-radius-4 {
  border-radius: 4px;
}
.border-radius-5 {
  border-radius: 5px;
}