:root {
  --gray-300: #DEE2E6;
  --gray-900: #212529;
  --success-100 :#EFF8F4;
  --success-200 :#9AD1BA;
  --success-300 :#36A375;
}

body {
  color: var(--gray-900);
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.container {
  max-width: 600px; /* 576 + 12 * 2 */
  margin: 0 auto;
  padding: 0 12px;
}

.week {
  margin: 0 auto;
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}
.week-title {
  padding: 8px 0;
  margin: 0;
  background: var(--success-200);
}
.week-title + .list {
  border-top: 1px solid var(--success-200);
}
.week-list {
  display: flex;
}
.week-item {
  flex: 1;
}
.week-item:not(:last-child) .item-link {
  border-right: 1px solid var(--gray-300);
}
.item-link {
  display: block;
  color: var(--gray-900);
  padding: 12px 0;
}
.item-link:hover {
  background: var(--success-100);
}
.item-link:focus {
  color: var(--success-300);
}