<div class="card cta-card">
  <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/916c25d5a06bc1b73135d3acf0a22ad65c7af4c8/2025-week6/logo-icon-w.svg" class="card-img-top" alt="">
  <div class="card-body">
    <h3 class="card-title">邁向你真正想過的生活，從這裡開始</h3>
    <p class="card-text">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
  </div>
  <div class="card-footer">
    <a class="cta-card-tel" href="tel:+0800-123-123">
      <span class="material-symbols-outlined">call</span>
      0800-123-123
    </a>
    <a class="cta-card-mail" href="mailto:Sample@mail.com">
      <span class="material-symbols-outlined">mail</span>
      Sample@mail.com
    </a>
    <button type="button" class="btn custom-btn custom-btn-icon-end cta-card-reserve custom-btn-hover">
      <p>預約免費職涯探索</p>
      <span class="material-symbols-outlined custom-btn-icon">chevron_forward</span>
    </button>
  </div>
</div>